<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Acciones</title>
		<meta charset="utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Acciones</h1>
						<p>Agregar, realizar cambios, eliminar etc...</p>
					</header>

				<!-- Main -->
					<div id="main">
                        {% for plot in plots %}
							<section id="content" class="main">
								<h2><strong>{{ plot.name }}</strong></h2>
                                <p>Finca: {{ plot.land.name }}</p>
                                <p>Latitud: {{ plot.latitude }}</p>
                                <p>Longitud: {{ plot.length }}</p>
                                <button type="button" class="btn btn-warning"><a href="{% url 'estate:edit-plot' plot.pk  %}">Editar</a></button>
                                <button type="button" class="btn btn-danger"><a href="{% url 'estate:delete-plot' plot.pk %}">Eliminar</a></button>
                            </section>
                        {% endfor %}
					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Parcelas: {{ num_plots }}</h2>
							<ul class="actions">
                                <br><li><a href="{% url 'estate:new-plot' user_pk %}" class="button" style="margin-top: 1em;">Nueva Parcela</a></li>
                                <br><li><a href="{% url 'estate:index' user_pk %}" class="button" style="margin-top: 1em;">Regresar</a></li>
                            </ul>
						</section>
						<section>
							<h2>Hulera</h2>
								<dd>Ciudad de Guatemala</dd>
							<ul class="icons">
								<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
						<p class="copyright">&copy; Design: <a href="http://apitec.io/" target="_blank">APITEC</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>